<header class="header">
    <div class="logo-container">
        <img src="..//..//..//..//src/assets/images/f5.png" alt="Logo" class="logo">
    </div>
    <nav class="nav">
         <ul>
        <li><button class="events">Inicio</button></li>
        <li><button class="login">Acerca</button></li>
        <li><button class="crud">Contacto</button></li>
      </ul>
    </nav>
    <div class="hamburger-menu">
        <div class="hamburger"></div>
        <div class="hamburger"></div>
        <div class="hamburger"></div>
    </div>
</header>